.grid-container {
    display: grid;
    grid-template: 150px 250px 150px / 33% 34% 33%;
}

.header {
    padding: 1rem;
    grid-column: 1/4;
    grid-row: 1/2;

    color: #eeee;
    background-color: rgb(58, 58, 58);
}

.box {
    display: flex;
    flex-direction: row;

    background-color: black;
}

.box div {
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.main {
    padding: 1rem;
    grid-column: 1/3;
    grid-row: 2/3;

    color: black;
    background-color: grey;
}

.side {
    padding: 1rem;
    grid-column: 3/4;
    grid-row: 2/3;

    color: black;
    background-color: white;
}

.footer {
    padding: 1rem;
    grid-column: 1/4;
    grid-row: 3/4;

    color: #eeee;
    background-color: rgb(58, 58, 58);
    ;
}